/* components/SamplesList/SamplesList.css */
.grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
  position: relative;
  width: 100%;
}

/* Ограничение максимум 3 карточками на строке */
@media (min-width: 1200px) {
  .grid-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.grid-list > * {
  box-sizing: border-box;
}

/* Для больших мобильных устройств */
@media (max-width: 820px) {
  .grid-list {
    grid-template-columns: 1fr;
    gap: 24px;
  }
}

/* Адаптивность для планшетов */
@media (max-width: 768px) {
  .grid-list {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

/* Для средних экранов */
@media (max-width: 640px) {
  .grid-list {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

/* Адаптивность для телефонов */
@media (max-width: 480px) {
  .grid-list {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}